<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    {% load static %}  <!-- Load static files -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Correct path to your CSS -->
</head>
<body>
    <header>
        <h1>Task Management System</h1>
        <nav>
            <a href="{% url 'add_user' %}">Add User</a>
            <a href="{% url 'add_task' %}">Add Task</a>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'report' %}">Report</a>
            <a href="{% url 'user_tasks' %}">User Task</a>

        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
